name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py') --fail-under=7
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - run: pip install -r requirements.txt
      - name: Lizard
        run: |
          lizard -w -C 9 -T nloc=40 -L 60 -a 5 server/ server/server_helper | sed -r 's/(.*):([0-9]*): warning: (.*)/::warning file=\1,line=\2::\3/'
      - name: Lizard (Fail on Violation)
        run: |
          lizard -w -C 9 -T nloc=40 -L 60 -a 5 client/ client/client_helper | sed -r 's/(.*):([0-9]*): error: (.*)/::error file=\1,line=\2::\3/'
